Strings
- they are immutable

In [1]:
a="vishnu"

In [2]:
type(a)

str

In [3]:
a[0]

'v'

In [11]:
a[-1]

'u'

In [12]:
a[-2]

'n'

In [4]:
s="my name is vishnu"

In [8]:
#upper bound is always excluded, whereas lower bound is always included
s[0:10]

'my name is'

In [6]:
b="ineuron"

In [7]:
b[0:3]

'ine'

In [10]:
#in case of individual indexes, it give an error, eg: b[300]
#in case of range, it does not give any errors
b[0:300]

'ineuron'

In [21]:
b[-1:-4]

''

In [27]:
b[-4:-1]

'uro'

In [15]:
a="kumar"

In [25]:
a[0:300:1]

'kumar'

In [29]:
#[starting: ending: step size/jump size]
a[0:300:2]

'kmr'

In [30]:
#jump has to be positive when the range is positve
a[0:100:-1]

''

In [31]:
a[-1:-4:-1]

'ram'

In [32]:
a[0:-10:-1]

'k'

In [35]:
#by default the starting is 0, ending is length of the string and step size will be 1
a[::]

'kumar'

In [36]:
a[:8]

'kumar'

In [37]:
a[-2:]

'ar'

By default the ending number is considered as positive even if the starting number is given as negative, which does not cause any issue.

In [38]:
a[::-1]

'ramuk'

In [39]:
a[-1::-1]

'ramuk'

In [40]:
a="i am a student of icfai"

In [41]:
a[::-1]

'iafci fo tneduts a ma i'

In [42]:
a[-5:5:-1]

'i fo tneduts '

In [43]:
a[-2:-10:-1]

'afci fo '

In [44]:
a[0:100:3]

'im unoia'

In [47]:
"vishnu"*3

'vishnuvishnuvishnu'

In [46]:
"vishnu"+"vishnu"

'vishnuvishnu'

In [48]:
a

'i am a student of icfai'

In [49]:
len(a)

23

In [50]:
"vishnu"*4

'vishnuvishnuvishnuvishnu'

In [51]:
a.find('a')

2

In [52]:
a.find('i')

0

find()- gives the first occurence of the letter which is being found or it gives the lowest occurence when the letter occurs for more than once

In [53]:
a.find('ia')

-1

In [56]:
a.find('am')

2

In [57]:
a.count('i')

3

In [58]:
a.count('x')

0

In [60]:
l=a.split()

In [61]:
l

['i', 'am', 'a', 'student', 'of', 'icfai']

split()-returns a list of words present in the string

In [62]:
l[0]

'i'

In [63]:
l[1]

'am'

In [64]:
l[0:3]

['i', 'am', 'a']

In [65]:
l[-1]

'icfai'

In [66]:
l[::-1]

['icfai', 'of', 'student', 'a', 'am', 'i']

In [67]:
a.split('i')

['', ' am a student of ', 'cfa', '']

In [68]:
a.split('s')

['i am a ', 'tudent of icfai']

In [69]:
a.upper()

'I AM A STUDENT OF ICFAI'

In [70]:
a.swapcase()

'I AM A STUDENT OF ICFAI'

In [72]:
s="sUdh"

In [73]:
s.swapcase()

'SuDH'

In [74]:
s.title()

'Sudh'

In [75]:
s.capitalize()

'Sudh'

In [78]:
b="vishnu"
c="pranjali"

In [79]:
b.join(c)

'pvishnurvishnuavishnunvishnujvishnuavishnulvishnui'

In [80]:
" ".join("vishnu")

'v i s h n u'

In [82]:
for i in reversed("vishnu"):
    print(i)

u
n
h
s
i
v

In [83]:
s="sudh"
s[::-1]

'hdus'

In [84]:
s="  vishnu  "

In [85]:
s.rstrip()

'  vishnu'

In [86]:
s.lstrip()

'vishnu  '

In [87]:
s.strip()

'vishnu'

In [88]:
s="vishnu"

In [ ]:
s.replace

In [2]:
"vishnu\tpranjali".expandtabs()

'vishnu  pranjali'

In [3]:
s="vishnu"

In [4]:
s.center(40,'#')

'#################vishnu#################'

In [5]:
b="     indians are the best in the world"
b.strip()

'indians are the best in the world'

In [7]:
s="vishnu"

In [8]:
s.isupper()

False

In [9]:
s.islower()

True

In [10]:
s="  "
s.isspace()

True

In [11]:
s="  viva"
s.isspace()

False

In [12]:
s="45678"
a="vishnu2204"

In [13]:
s.isdigit()

True

In [14]:
a.isdigit()

False

In [15]:
s="vishnu"

In [16]:
s.endswith('u')

True

In [17]:
s.startswith('v')

True

In [18]:
s.istitle()

False

In [19]:
s.encode()

b'vishnu'

In [20]:
s.startswith('h')

False

In [1]:
s="vishnu"

In [2]:
s[0]

'v'

In [3]:
s[0]="k"

TypeError: 'str' object does not support item assignment

- to replace elements in a string .replace() function is used

In [4]:
s.replace('s','v')

'vivhnu'

In [ ]:
a=10
b=20
if a==10 or b>20:
  print("this is a valid statement")
elif a==10 or b<=20:
  print("this statement is valid inside elif")
else:
  print("condition is not valid")

this is a valid statement

In [ ]:
a==10
b==20

True

In [ ]:
a==10 and b>20

False

In [1]:
# input from keyboard as your 1st name and last name and try to validate of write multiple condition by yourself
a=input("1st name: ")
b=input("last name: ")
if a=="Vishnu":
  print("correct name")
elif a=="Vishnu" and b=="Pranjali":
  print("correct name")
else:
  print("incorrect name")

1st name:  Vishnu
last name:  Pranjali

correct name

In [ ]:
#while loop
initial_speed=0
final_speed=100
count=1
while initial_speed<final_speed:
  print("this is my speed")
  count=count+1
  if count==10:
    break

this is my speed
this is my speed
this is my speed
this is my speed
this is my speed
this is my speed
this is my speed
this is my speed
this is my speed

In [ ]:
initial_speed=0
final_speed=100
count=0
count1=10
while initial_speed<final_speed:
  print("Speed is between "+ str(count)+" and "+ str(count1))
  initial_speed = initial_speed+10
  count=count+10
  count1=count1+10

Speed is between 0 and 10
Speed is between 10 and 20
Speed is between 20 and 30
Speed is between 30 and 40
Speed is between 40 and 50
Speed is between 50 and 60
Speed is between 60 and 70
Speed is between 70 and 80
Speed is between 80 and 90
Speed is between 90 and 100

In [ ]:
i=1
j=5
while i<j:
  print(i)
  i=i+1

1
2
3
4

In [1]:
notes=5
i=1
j=1
while i<notes:
  print(i)
  i=i+1
else:
  while j<2:
    print(i)
    j=j+1
  print("no 10 rupee notes are available")

1
2
3
4
5
no 10 rupee notes are available

In [2]:
s="my name is vishnu"
s

'my name is vishnu'

In [3]:
s[3:10]

'name is'

In [4]:
s[3:10:2]

'nm s'

In [5]:
print(s[3:10:1])
print(s[3:10:2])
print(s[3:10:3])
print(s[3:10:4])

name is
nm s
nes
n

In [6]:
s[::-1]

'unhsiv si eman ym'

In [7]:
s[2:-6]

' name is '

In [8]:
s[0]

'm'

In [9]:
for i in s:
  print(i)
else:
  if i=='a':
    print("last char was a")
  print("this is a else condition")

m
y

n
a
m
e

i
s

v
i
s
h
n
u
this is a else condition

In [10]:
for i in s:
  if i=='n':
    break
  print(i)
else:
  if i=='a':
    print("last char was a")
  print("this is a else condition")

m
y

In [11]:
for i in s:
  if i=='n':
    continue
  print(i)
else:
  if i=='a':
    print("last char was a")
  print("this is a else condition")

m
y

a
m
e

i
s

v
i
s
h
u
this is a else condition

In [13]:
s="vishnu"
ss=""
for i in range(len(s)):
  if s[i]=='s':
      continue
  else:
      ss=ss+s[i]

In [14]:
ss

'vihnu'

In [15]:
len(s)

6

In [16]:
n=7
for i in range(0,n):
  for j in range(0,i+1):
    print("+ ", end="")
  print("\r")

+
+ +
+ + +
+ + + +
+ + + + +
+ + + + + +
+ + + + + + +

In [17]:
n=7
for i in range(0,n):
  for j in range(0,n-i):
    print(" X ", end="")
  print("\r")

 X  X  X  X  X  X  X
 X  X  X  X  X  X
 X  X  X  X  X
 X  X  X  X
 X  X  X
 X  X
 X

In [18]:
n=7
for i in range(0,n):
  print(" "*i, end="")
  for j in range(0,n-i):
    print(" X", end="")
  print("\r")

 X X X X X X X
  X X X X X X
   X X X X X
    X X X X
     X X X
      X X
       X

In [19]:
for i in range(0,100,2):
  print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [20]:
for i in range(5,0,-1):
  print(i)

5
4
3
2
1